.welcome {
  text-align: center;
  padding: 0 20px 0 20px;
}

.welcome h1 {
  font-size: 2.6rem;
}

.welcome p {
  font-size: 1.1rem;
  color: #4d648d;
}

.benefits-container {
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: row;
  height: 50vh;
  background-image: url('/assets/images/wvy.png');
  background-size: cover;
  background-position: center;
}

.benefit {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: .8rem;
  color: #283655;
  text-transform: lowercase;
  background-image: url('/assets/images/note.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.benefit:hover {
  flex: 2;
  font-size: 1.4rem;
  font-weight: bold;
  color: #4d648d;
  text-transform: uppercase;
}

.motivate {
  text-align: center;
  font-size: 1.4rem;
  margin: 0 10px 0 10px;
}
